@font-face {
    font-family: "Berliner Grotesk Medium";
    src: url("../fonts/BerlinerGroteskMedium.otf");
}

body {
    background: white;
    padding: 1em;
    font-size: 15px;
}

.container {
    background: white;
}

.jumbotron-fluid {
    text-align: center;
    background: url('../images/samadhi-banner-mobile.png') no-repeat ;
    background-size: cover;
    overflow: hidden;
    padding-top: 50px;
    height: 250px;
}

.avatar {
    border-radius: 50%;
    margin: 0 auto 100px;
    text-align: center;
    z-index: 1;
    height: 10em;
}

img {
    vertical-align: top;
}

/* DEMO 1 */
.demo-1 .bottom {
    position: relative;
}

.demo-1 a {
    position: absolute;
    left: 65px;
    top: -150px;
}

h1 {
    margin: 50px auto;
    width: 90%;
    font-family: 'Lato';
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    font-weight: 900;
}

.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    background-color: white!important;
    font-family: 'Berliner Grotesk Medium';
    text-transform: uppercase;
}

.navbar-expand-xl .navbar-nav .nav-link {
    font-size: 1rem;
    color: #353434;
}

.navbar-expand-xl .navbar-nav .nav-link:hover {
    color: #EEBD67;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #EEBD67;
}

.navbar-toggler-icon {
    color: #353434;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0; 
    padding-bottom: 0; 
    margin-right: 0; 
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand img {
    width: 180px;
    border:none;
}

/* .socialIcons {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    width: 30%;
}

.socialIcon {
    width: 75%;
} */

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: none;
    border-radius: none;
}
  

.sIcon3 {
    width: 35px;
    height: 35px;
    margin: 25px 0 5px;
    fill:; 
}

.sIcon3:hover path {
    fill: #F4D426;
}

@media (min-width: 728px) {

    .socialIcons {
        padding: 0; 
        width: 15%;  
    }

    .jumbotron-fluid {
        text-align: center;
        background: url('../images/samadhi-banner.png') no-repeat ;
        background-size: cover;
        overflow: hidden;
        padding-top: 50px;
        height: 350px;
    }

    .demo-1 a {
        position: absolute;
        left: 225px;
        top: -100px;
    }

    .avatar {
        border-radius: 50%;
        margin: 0 auto 100px;
        text-align: center;
        z-index: 1;
        height: 12em;
    }

    .navbar-expand-xl .navbar-nav .nav-link {
        font-size: 1.5rem;
        color: #353434;
    }

    h1 {
        margin: 150px auto;
        width:80%;
        font-family: 'Lato';
        font-size: 1.2rem;
        line-height: 1.5;
        text-align: center;
        font-weight: 900;
    }

}

@media (min-width: 1024px) {

    .socialIcons {
        padding: .5rem 1rem; 
        width: 80%;  
    }

    .socialIcon {
        width: 70%;
    }

    .demo-1 a {
        position: absolute;
        left: 400px;
        top: -100px;
    }

    h1 {
        margin: 250px auto 200px;
        width: 50%;
        font-family: 'Lato';
        font-size: 1.3rem;
        line-height: 1.5;
        text-align: center;
        font-weight: 900;
    }

    .jumbotron-fluid {
        padding-top: 50px;
        height: 600px;
    }

    .avatar {
        border-radius: 50%;
        margin: 0 auto 100px;
        text-align: center;
        z-index: 1;
        height: 18em;
    }

    .navbar-expand-xl .navbar-nav .nav-link {
        font-size: 1.4rem;
        color: #353434;
    }
}